<div class="sensorReading">
	<div>
		<div class="title">
			{{description}}
		</div>
		<div class="value">{{#exists value}}{{value}}{{units}}{{else}}--{{/exists}}</div>
		<div class="time">
			<small>{{fuzzyDate timestamp}}</small>
		</div>
		{{#if isRanged}}
		<div class="progress progress-striped">
			{{#exists value}}
			<div class="progress-bar progress-bar-info" style="width: {{percentage value rangeMax rangeMin}}%"></div>
			{{/exists}}
		</div>
		{{/if}}
	</div>
</div>